<template name="login">
  <div class="layer">
    <div class="container-fluid">
      <br><br>
      <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <div class="form-login">
            <img class="img-logo center-block" src="/img/ball.jpg" width="100" height="100">
            <br><br><br><br>
            <p class="text-center label-login">Username</p>
            <input type="text" id="userName" class="form-control input-sm"/>
            <br>
            <p class="text-center label-login">Password</p>
            <input type="text" id="userPassword" class="form-control input-sm" />
            <br><br><br>
            <a href="#" class="btn btn-primary btn-round-lg btn-responsive">Sign in</a>
           </div>
           <br>
           <p class="text-center label-login">Don't have an account? &nbsp;<a href="#" class="link">Sign Up</a></p>
         </div>

      </div>
    </div>
  </div>
</template>
