<template name="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Meteor Bogota</h1><br>
        <h3>Aplicacion: Pollas</h3>
        <p>Objetivo Principal:</p><br>
        <p>Desarrollar en conjunto una aplicación para administrar las ligas de fútbol (y otros deportes).</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/MeteorBogota/Pollas" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Objetivos Secundarios</h2>
          Objetivos Secundarios:
          <ul>
            <li>Aprender Meteor y como se integra con otras tecnologias.</li>
            <li>Montar la app en diferentes plataformas (Browser y Mobile) y publicarla.</li>
            <li>Documentar y comentar el desarrollo como si fuera un tutorial para gente que esta aprendiendo.</li>
            <li>Agregar este desarrollo al portafolio de Meteor Bogota</li><a href="http://www.meetup.com/Meteor-Bogota/">http://www.meetup.com/Meteor-Bogota/</a>
         </ul>

        </div>
        <div class="col-md-4">
          <h2>Herramientas:</h2>
          <ul>
            <li>Repositorio en GitHub:</li>
            <ul>
            <li>Debidamente comentado</li>
            <li>Manejo de versiones</li>
          </ul>
            <li>Trello: Para administrar tareas</li>
            <li>Slack: Para comunicacion (escribir a cualquiera de los organizadores del Meetup para tener acceso)</li>
          </ul>
       </div>
        <div class="col-md-4">
          <h2>Modo de trabajo:</h2>
          <ul>
            <li>El arquitecto publicara las tareas pendientes y por demanda</li>
            <li>Quien desee, se pedirá dicha tarea</li>
            <li>Una vez terminada se hará un review del codigo por medio de un pull request</li>
            <li>Pasado los requisitos se tendra un commit</li>
            <li>Todo el trabajo se hara en ramas (forks/branches)</li>
          </ul>
        </div>
      </div>

      <hr>
  </div>
</template>
